<div class="container-fluid">

    <app-header></app-header><br><br>

    <div>
        <table datatable class="display nowrap row-border" style="width:100%;">
            <thead>
                <tr>
                    <th>Type_Voiture</th>
                    <th>Matricule</th>
                    <th>Télèphone (chfr)</th>
                    <th>Prènom & Nom(chfr)</th>
                    <th>Déstination</th>
                    <th>Passagers</th>
                    <th>Depart</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7Places</td>
                    <td>AA-7456-KK</td>
                    <td>784413400</td>
                    <td>madiop dop</td>
                    <td>Dakar</td>
                    <td>
                        <button class="btn btn-outline-primary mx-2"><i>7</i></button>
                        <button class="btn btn-outline-warning "><i class="bi bi-plus-lg"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger mx-2"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-outline-info mx-2"><i class="bi bi-eye-fill"></i></button>
                        <button class="btn btn-outline-success"><i class="bi bi-check-lg"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>7Places</td>
                    <td>AA-7456-KK</td>
                    <td>784413400</td>
                    <td>moussa faye</td>
                    <td>Dakar</td>
                    <td>
                        <button class="btn btn-outline-primary mx-2"><i>5</i></button>
                        <button class="btn btn-outline-warning "><i class="bi bi-plus-lg"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger mx-2"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-outline-info mx-2"><i class="bi bi-eye-fill"></i></button>
                        <button class="btn btn-outline-success"><i class="bi bi-check-lg"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-footer></app-footer>
</div>
