<nav class="navbar navbar-expand-sm navbar-dark bg-primary separed"
        style="font-size: 24px; font-family: 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <ul class="nav justify-content-start">
                <li class="nav-item ">
                    <img src="assets/img/logo.jpg" alt="logo" style="width: 300px;height: 100px; display: block;" />
                </li>
            </ul>
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a class="nav-link clor" routerLink="/acceuil">ACCEUIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clor" href="#">ARCHIVES</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/historique" class="nav-link clor">HISTORIQUES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clor" href="#">VOITURES</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle clor" href="#" role="button" data-bs-toggle="dropdown"><i
                            class="bi bi-person-circle"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">new user</a></li>
                        <li><a class="dropdown-item" href="#">detail</a></li>
                        <li><a class="dropdown-item" href="#">logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
