<div class="container-fluid">

    <app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mb-3 mx-10">
            <div class="card" style="width: 100%;">
                <img src="assets/img/taxi.jpg" height="300" class="card-img-top" alt="gare">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">bus</h5>
                    <a routerLink="/form-depart" style="font-size: 32px;font-family:'Times New Roman', Times, serif; width: 60%;" class="btn btn-primary">7 PLACE</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="assets/img/taxi.jpg" height="300" class="card-img-top" alt="taxi">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">taxi</h5>
                    <a routerLink="/form-depart" style="font-size: 32px;font-family:'Times New Roman', Times, serif; width: 60%;"  class="btn btn-primary">minibus</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img src="assets/img/Gare-Malicounda.jpg" height="300" class="card-img-top" alt="taxi">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">taxi</h5>
                    <a routerLink="/form-depart" style="font-size: 32px;font-family:'Times New Roman', Times, serif; width: 60%;" class="btn btn-primary">Bus</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <app-footer></app-footer>

</div>