<div class="container-fluid">
    <app-header></app-header>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="assets/img/taxi.jpg" width="100%" height="600" class="d-block w-100" alt="image2">
            <div class="carousel-caption d-none d-md-block">
               <a routerLink="/category"><button  type="button" class="btn btn-primary btn-lg" style="font-size: 30px;">Nouveau Depart</button></a>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>